body {
  font-family: Arial, Helvetica, sans-serif;
}
.nav,
.ul,
button {
  font-weight: 500;
  font-size: 16px;
  color: white;
  text-decoration: none;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-image: linear-gradient(navy, black);
}
.logo {
  font-size: 20px;
  font-weight: 500;
  color: white;
  letter-spacing: 3.5px;
  cursor: pointer;
}
.nav-list {
  list-style: none;
}
.nav-list li {
  display: inline-block;
  padding: 0 20px;
}
.nav-list li a {
  transition: all 0.3s ease 0s;
}
.nav-list li a:hover {
  background-color: blue;
}
button {
  padding: 10px 25px;
  background-color: blueviolet;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button:hover {
  background-color: blue;
}
.day {
  border-bottom: 1px solid black;
}
h1 {
  text-align: center;
  margin: 0 auto;
}
.personal {
  text-align: center;
  margin: 0 auto;
}
h5 {
  text-align: center;
  margin: 0 auto;
}
.rounded-corners {
  object-fit: cover;
  width: 50px;
  height: 50px;
  border-radius: 160px;
  overflow: hidden;
}
.squared-corners {
  object-fit: cover;
  width: 50px;
  height: 50px;
  overflow: hidden;
}
.img-group img {
  object-fit: cover;
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.details {
  border-bottom: 10px;
  display: flex;
  gap: 2%;
  align-items: center;
}
.highlight {
  background: lightblue;
}
.portfolio p {
  margin-top: 0;
}

@media (max-width: 800px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    position: absolute;
    top: 25px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20px;
    margin: 15px 0;
  }
  .bar {
    width: 30px;
    height: 3px;
    background-color: white;
    transition: all 0.3s ease 0s;
  }
  .nav-li {
    display: none;
    width: 100%;
    align-items: center;
    width: 100%;
    margin-top: 15px;
  }

  .nav-li ul {
    width: 100%;
  }

  .nav-li ul li {
    width: 100%;
    text-align: center;
    margin: 5px 0;
  }

  .nav-li ul li a {
    padding: 0.5rem 1rem;
    display: block;
  }
  .nav-li.active {
    display: flex;
  }
  .nav-list li {
    display: block;
    padding: 10px;
  }

  .nav-list li a:hover {
    background-color: blue;
  }
}
