* {
    /* font-size: 25px; */
    line-height: 1.5;
}

body {
    max-width: 900px;
    margin: auto;
    padding: 2%;
}

h3 {
    border-bottom: 3px solid black;
}

label {
    display: block;
    margin: .5% 0;
}

table,
td,
th {
    border: 1px solid black;
    border-collapse: collapse;
    width: auto;
}

td input {
    width: 90%;
}

input {
    /* color: tomato; */
    font-size: 13px;
}

textarea {
    width: 90%;
    color: tomato;
}

#prev_message {
    height: 50px;
}

#message {
    height: 100px;
}

#content label {
    display: inline-block;
}

@media screen and (max-width: 600px) {
    * {
        font-size: 18px;
        padding-top: 5px;
        margin-top: 20px;
    }
}

html::-webkit-scrollbar {
    display: none;
}