/* Align the header at the center and underline */
h1 {
  text-decoration: underline;
  text-align: center;
}

/* Display the tag alongside the toggle button */
h2 {
  display: inline-block;
  margin-top: 10px;
  margin-bottom: 5px;
}

/* Display the minute summary using a larger font*/
details > summary {
  font-size: 18px;
}

/* indent the detail tag which are children of detail tags */
details > details {
  margin-left: 20px;
}

/* Adjust the container that holds the minute details :- 
    Indent  
    Increase the spacing with other minute_summary
*/
.content {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* Decorate the contributions title */
h3 {
  text-decoration: underline;
  color: #4679bd;
  margin-bottom: 5px;
  margin-top: 10px;
  display: inline-block;
}

/* Add additional indentation to the individual member contributions*/
.content > details {
  margin-left: 20px;
}
/*Increase the size of the button*/
button {
  width: 60px;
  height: 20px;
  margin-left: 20px;
  
}
