a,
td {
  font-size: 25px;
  line-height: 1.5;
}
p,
li,
code,
summary {
  font-size: 22px;
  margin-bottom: 12px;
}
table {
  border: 1px solid black;
  width: 100%;
}
th,
td {
  border: 1px solid black;
}
th {
  font-size: 25px;
  font-weight: 600px;
  background: green;
}
table tr:nth-child(odd) td {
  background: rgb(181, 236, 190);
}
table tr:nth-child(even) td {
  background: white;
}
textarea {
  width: 100%;
  height: 80%;
  font-size: 20px;
  line-height: 1.5;
}
.btn {
  display: flex;
  justify-content: space-between;
}
#save,
#cancel,
#close{
  margin-top: 10px;
  margin-right: 50px;
  background-color: #0b0b27;
  color: #fff;
  border: none;
  border-radius: 10px;
  min-height: 30px;
  min-width: 120px;
}
#save:hover,
#cancel:hover,
#close:hover{
  background-color: #002ead;
  transition: 0.7s;
}
@media (max-width: 800px) {
  .btn {
  display: flex;
  justify-content: space-between;
  }
  a,
  td {
    font-size: 25px;
    line-height: 1.5;
  }
  th {
    font-size: 25px;
    font-weight: 600px;
  }
  table {
    border: 1px solid black;
    width: 100%;
  }
}
